@model DLP.Application.Common.Templates.Models.RequestApprovedViewModel;
@using DLP.HtmlHelpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Request Approved</title>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif;">
        <p>@await Html.Translate("request-approved:entry.text", "Dear", Model.UserLang) @Model.ContactName,</p>
        <br />
        <p>
            @await Html.Translate("request-approved:sub-title",
            "We are pleased to inform you that your request has been reviewed and approved.", Model.UserLang)
        </p>
        <br />
        <p>
            @await Html.Translate("request-approved:next-steps",
            "Our team will take the necessary steps to proceed based on your request. We will keep you updated with any further developments.", Model.UserLang)
        </p>
        <br />
        <p>
            @await Html.Translate("request-approved:thank",
            "Thank you for your patience and understanding during this process.", Model.UserLang)
        </p>
        <p>
            @await Html.Translate("request-approved:regards",
            "Regards,", Model.UserLang)
        </p>
    </div>
</body>
</html>